html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    )
    meta(
      content="ie=edge"
      http-equiv="X-UA-Compatible"
    )
    title
      block title
    block styles
      link(
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Eczar|Josefin+Sans"
      )
      link(
        rel="stylesheet"
        href="/assets/style.css"
      )
  body
    block body
      block header
        include /layouts/_header
      block content
        | !{ content }

    block scripts
      script(src="https://identity.netlify.com/v1/netlify-identity-widget.js")
